<aside class="sidenav">
    Navbar here.
    <p><a href="/library/<%= `${user.id}` %>">View all</a></p>
    <p><a href="/library/add/<%= `${user.id}` %>">Add New DVD</a></p>
    <p><a href="/library/loc/<%= `${user.id}` %>">Edit/Add Locations</a></p>
</aside>