body {
    background-color: #C7D59F;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    line-height: 150%;
}
header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #4B5842;

}
#login {
    align-self: center;
}


.main {
    margin-left: 160px; /* same as width of .sidenav */
    padding: 0px 10px;
}
.section-title {
    font-size: 22px;
    text-align: center;
}
/* sidebar style */
.sidenav {
    height: auto;
    width: 160px;
    position: fixed;
    /* z-index: 1; */
    top: 88px;
    left: 0;
    background-color: #B7CE63;
    overflow-x: hidden;
}
.navletter {
    font-size: 50px;
    line-height: 100%;
    color: black;
    text-decoration: none;
}
/* card styling */
.cardtext.movietitle {
    text-align: center;
}
.cardtext.location {
    text-align: right;
}
.cardtext.idnum {
    text-align: right;
}