body {
    background-color: #F9DC5C;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    line-height: 150%;
}
html {
    margin: 0;
}
footer {
    background-color: #011936;
    color: #F4FFFD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
footer a {
    color: #F4FFFD;
}
header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #011936;
    color: #F4FFFD;
    padding: 0px 10px 0px 10px;
    align-items: center;

}
header a {
    color: #F4FFFD;
}
.headcontrols {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

#login {
    align-self: center;
}


.main {
    margin-left: 170px; /* same as width of .sidenav */

}
.main-content {
    background-color: #F9DC5C;
    /* width: 800px; */
    height: 619px;
    /* overflow-y: scroll; */
    padding: 10px 10px 10px 20px;
    
}


.section-title {
    font-size: 22px;
    text-align: center;
    background-color: #465362;
    color: #F4FFFD;
    /* position: absolute; */
}
/* sidebar style */
.sidenav {
    height: auto;
    width: 160px;
    position: fixed;
    /* z-index: 1; */
    top: 83px;
    left: 8px;
    background-color: #ED254E;
    color: #F4FFFD;
    overflow-x: hidden;
    padding-left: 10px;
}
.navletter {
    font-size: 50px;
    line-height: 100%;
    color: black;
    text-decoration: none;
}
/* card styling */
.cardtext.movietitle {
    text-align: left;
}
.cardtext.location {
    text-align: center;
}
.cardtext.idnum {
    text-align: center;
}
.poster {
    padding-left: 10px;
}
/* .moviecard {
    border: solid black 3px;
} */
/* card container */
.cardcontainer {
    display: flex;
    flex-direction: row;
}
/* scroll bars */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F9DC5C;
}
::-webkit-scrollbar-thumb {
    background: #f8d01d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.landing {
    margin-left: 0px;
    
}
.main-content.landing {

    margin-left: 170px;
}
.error {
    color: red;
    text-align: center;
}

/* button thanks to */
.myButton {
    background-color: #ED254E;
    font-family:'Special Elite', cursive;
    border-radius:18px;
    color: #F4FFFD;
    font-size:17px;
    padding: 4px 6px 0px 6px;
    

}
/* color schema
https://coolors.co/ed254e-f9dc5c-f4fffd-011936-465362
#ED254E red
#F9DC5C yellow
#F4FFFD white
#011936 darkblue
#465362 blueish gray

*/