<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVD Card Catalog</title>

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <header>
        <h1>DVD Card Catalog</h1>
        <form id="login" action="/users/login" method="POST">
            <input type="text" name="userID" id="userID" placeholder="User ID">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" name="" id="loginsubmit" value="Login">
        </form>
    </header>
    <main class="main">
        <div class="section-title">Welcome to DVD Card Catalog!</div>
        <div class="main-content">
            <h3>Already a User? Log in above.</h3>
            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, architecto voluptatem. Totam, quaerat deleniti aspernatur tempora aliquid tenetur repudiandae sequi autem delectus, libero asperiores sed dolorum eum officiis cumque dolor.</div>
            <div>
                <form action="" id="signup">
                    <h3>Create a new account.</h3>
                    Name:<input type="text">
                    Password:<input type="password">
                    <input type="submit" value="Sign Up">
                </form>
                
            </div>
        </div>
    </main>
    <aside class="sidenav">
        Navbar here.
    </aside>
    <footer>
        Footer Here.
    </footer>
    
    
</body>
</html>