<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVD Card Catalog</title>

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <header>
        <h1>DVD Card Catalog</h1>
        <form id="login">
            <input type="text" name="userID" id="userID">
            <input type="password" name="password" id="password">
            <input type="submit" name="" id="loginsubmit" value="Login">
        </form>
    </header>
    <main class="main">
        <div class="section-title">Section title</div>
        <div class="main-content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, commodi architecto illo eaque dolore et libero est, exercitationem dolorum eos, iure quia aut. Deserunt nisi alias ipsum cum eaque officia!</div>
    </main>
    <aside class="sidenav">
        Navbar here.
    </aside>
    <footer>
        Footer Here.
    </footer>
    
    
</body>
</html>