<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DVD Card Catalog</title>

    <link rel="stylesheet" href="/css/index.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>DVD Card Catalog</h1>
        <form id="login" action="/users/login" method="POST">
            <input type="text" name="userID" id="userID" placeholder="User ID">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" name="" id="loginsubmit" value="Login">
        </form>
    </header>
    <main class="main landing">

        

        <div class="section-title landing">Welcome to DVD Card Catalog!</div>
        
        <% if (typeof error != 'undefined') { %>
            <div class="error"><%= error %></div>
        <% } %>

        <div class="main-content landing">
            <h3>Already a User? Log in above.</h3>
            <div class="intro">The DVD Card Catalog was created with two ideas in mind. First, to demonstrate and exercise my technical skills. Second, I own far to many DVDs to remember and occasionally buy a duplicate. The Catalog is built on an Express framework, a Sequelize database model, and makes use of the OMDB API to load additional information on each record. 
                <p>If you would like to test it out, you can log in with Username: demo and Password: movietime</p>
            </div>
            <div>
                <form action="/users/signup" method="POST" id="signup">
                    <h3>Create a new account.</h3>
                    Name:<input type="text" name="name">
                    Password:<input type="password" name="password">
                    <input type="submit" value="Sign Up">
                </form>
                
            </div>
        </div>
    </main>
    <!-- <aside class="sidenav">
        Navbar here.
    </aside> -->
    <footer>
        Footer Here.
    </footer>
    
    
</body>
</html>